<div class="container">
  <div class="row text-center">
    <div class="col-sm-12">
      <h1>Your Details</h1>
      <h2>
        User Name: <span class="text-info">{{ name }}</span>
      </h2>
      <p>Email: {{ email }}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center mb-3">
      <h3 class="fst-italic">Your favourite films</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 mb-4" *ngFor="let favoriteMovie of favoriteMovies">
      <div class="card h-100 shadow-sm">
        <img
          class="card-img-top"
          [src]="favoriteMovie.movie.image"
          alt="Poster del film"
        />
        <div class="card-body">
          <h5 class="card-title">{{ favoriteMovie.movie.title }}</h5>
          <p class="card-text">{{ favoriteMovie.movie.genre }}</p>
          <p class="card-text">
            <small class="text-muted">{{ favoriteMovie.movie.year }}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
