@model ServizioAggiuntivo

@{
    ViewData["Title"] = "Aggiungi Servizio Aggiuntivo";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="AggiungiServizioAggiuntivo" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="PrenotazioneID" />
    </div>
    <div class="form-group">
        <label asp-for="Data"></label>
        <input asp-for="Data" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Quantita"></label>
        <input asp-for="Quantita" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Prezzo"></label>
        <input asp-for="Prezzo" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Descrizione"></label>
        <input asp-for="Descrizione" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Aggiungi Servizio</button>
</form>
