@{
    ViewData["Title"] = "Totale Prenotazioni Pensione Completa";
}

<h1>@ViewData["Title"]</h1>

<p>Il numero totale di prenotazioni per i soggiorni di tipo "pensione completa" è: @ViewData["TotalPrenotazioni"]</p>
